{% extends 'base.html.twig' %}

{% block title %}Création de votre famille{% endblock %}

{% block body %}
<!-- Header-->
<div class="alert alert-warning" role="alert">
  Attention ! Créer une famille vous déconnectera pour permettre une mise à jour de votre profil.
</div>
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>Création de votre famille</h1>

        {{ form_start(form) }}
        {{ form_row(form.name, {label: 'Nom'}) }}
        {{ form_row(form.password, {label: 'Pass'}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
