<div >
    <ul>
    {% for depense in depenses %}
        <li>{{depense.category.name }} : {{ depense.amount}}</li>
        <li>
            {{ component('ProgressBarDepense', { percentage: 15 }) }}
        </li>
    {% endfor %}
    </ul>
</div>