<div class="container">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h1 class="fw-bolder">Bonjour {{ app.user.username }}!!! </h1>
                {% if is_granted('hasNoFamily') == false %}
                    <h1 class="fw-bolder">Tu appartiens à la famille {{ app.user.family.name }}!!! </h1>
                {% endif %}
                {% if is_granted('IsMainMemberFamily') %}
                    <h1 class="fw-bolder">Tu es à lea chef.fe de {{ app.user.family.name }}!!! </h1>
                {% endif %}
            {% else %}
                <h1 class="fw-bolder">Gérez vos dépenses en quelques clics !</h1>
                <p class="lead">Créer votre famille, vos catégories et rentrez vos dépenses</p>
                <a class="btn btn-primary" href="{{ path('app_login') }}">Commencer</a>
            {% endif %}
    </div>