<div >
    <ul>
    {% for depense in depenses %}
        <li>{{depense.category.name }} : {{ depense.amount}}</li>
        <li>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 25%">
                </div>    
            </div>
        </li>
    {% endfor %}
    </ul>
</div>