{% extends 'base.html.twig' %}

{% block title %}Dépenses{% endblock %}

{% block body %}
    <div  class="container-fluid">
        <div class="row">
            <div class="col-xxl-8">
                {{ include(('main/_index-grid-top-left.html.twig')) }}
            </div>
            <div class="col-xxl-4">col-sm-4</div>
        </div>
    <div class="row">
        <div class="col-xxl">
            {{ include(('main/_index-grid-bottom-left.html.twig')) }}
        </div>
        <div class="col-xxl">col-sm</div>
        <div class="col-xxl">col-sm</div>
    </div>
    </div>
    
{% endblock %}
