{% extends 'base.html.twig' %}

{% block title %}Dépenses{% endblock %}


{% block body %}
    <div class="container test">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h1 class="fw-bolder">Bonjour {{ app.user.username }}!!! </h1>
                <h1 class="fw-bolder">Tu as depensé {{ app.user.GetSumAmountMonth() }} € ce mois-ci!!! </h1>
            {% else %}
                <h1 class="fw-bolder">Gérez vos dépenses en quelques clics !</h1>
                <p class="lead">Créer votre famille, vos catégories et rentrez vos dépenses</p>
                <a class="btn btn-primary" href="{{ path('app_login') }}">Commencer</a>
            {% endif %}
    </div>
{% endblock %}