{% extends 'base.html.twig' %}

{% block title %}Saisir une catégory{% endblock %}

{% block body %}
<!-- Header-->
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>Saisie de categorie</h1>

        {{ form_start(form) }}
        {{ form_row(form.name, {label: 'Nom'}) }}
        {{ form_row(form.color, {label: 'Couleur'}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
