<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administration
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{path('app_family_index')}}">Gerer les familles</a>
        <a class="dropdown-item" href="{{path('app_user_profil_index')}}">Gerer les membres</a>
        <a class="dropdown-item" href="{{path('app_depense_index')}}">Gerer les dépenses</a>
        <a class="dropdown-item" href="{{path('app_category_index')}}">Gerer les catégories</a>
    </div>
</li>  