
<footer class="bg-dark fixed-bottom">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; Wilfried Fournier - Contact : fournier.wilf@gmail.com</p>
    </div>
</footer>
