$red: #fc030b;
$green: #23610a;
$grey: #9c9494;

$primary:#23610a;

$colorLogoBackground : #3fb66c;

$theme-colors: (
  "primary": $primary,
  "secondary": #3fb66c,  
  "danger": #ff0000,
  "warning" : #ff000056,
);

nav {
  background-color: $green;
}

body {
  padding-top: 80px; 
}

.logo {
  background-color: $colorLogoBackground;
  border: #ffffff;
  border-style: solid;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: xx-large;
  font-weight: bolder;
  padding: 2px;
}

#decoBtn{
  font-weight: bolder;
}

.backcolor{
  background-color: #b3c4ad;
}

footer
{
  background-color: $green;
}

@import '../../vendor/twbs/bootstrap/scss/bootstrap';