$red: #fc030b;
$green: #23610a;
$grey: #9c9494;

$primary:#88c5ff;
$secondary: #3fb66d71;
$danger:#ff0000;

$colorLogoBackground : #8d8cce;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,  
  "danger": $danger,
  "warning" : #ff000056,
);

nav {
  border-bottom-style: solid;
  background-color: #ffffff;
}

.coloredText{
  color: $colorLogoBackground;
  font-size: large;
  font-weight: bolder;

}

body {
  padding-top: 80px; 
}

.logo {
  background-color: $colorLogoBackground;
  border: #000000;
  border-style: solid;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: xx-large;
  font-weight: bolder;
  color: #ffffff;
  padding: 2px;
}

#decoBtn{
  font-weight: bolder;
}
/*
.backcolor{
}
*/
.color-logo{
  color: $colorLogoBackground;
  font-weight: bolder;
  font-size: xx-large;
}

footer
{
  background-color: $primary;
}

@import '../../vendor/twbs/bootstrap/scss/bootstrap';