{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_userprofil_new' ? 'Ajout' : 'Édition' %}

{% block title %}{{ action }} de user{% endblock %}

{% block body %}
<!-- Header-->
<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>{{ action }} de user</h1>

        {{ form_start(form) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
