{# See https://symfony.com/bundles/ux-live-component/current/index.html #}

<div {{ attributes }}>
    <div class="form-group">
        <input
            type=date
               class="form-control search-field"
               autocomplete="off"
               {#
                   Using the data-model attribute ensures that the property will be automatically updated on the component
                   See https://symfony.com/bundles/ux-live-component/current/index.html#data-binding
               #}
               data-model="startDate"
               autofocus
        >
        <input
            type=date
               class="form-control search-field"
               autocomplete="off"
               {#
                   Using the data-model attribute ensures that the property will be automatically updated on the component
                   See https://symfony.com/bundles/ux-live-component/current/index.html#data-binding
               #}
               data-model="endDate"
               autofocus
        >
    </div>
        <h1>Mes dépenses : Somme {{ serviceDepense.CalculateAmoutArray(this.Depenses) }}</h1>
        {% for depense in this.Depenses %}
            {{ include('partials/_form-amount.hmtl.twig', {depense: depense}, false) }}                
        {% else %}
            <li>Aucun enregistrement en base de données.</li>
        {% endfor %}
</div>
