<div{{ attributes }}>
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-danger"  style="width: {{percentage}}%">
        </div>
    </div>
</div>
