{% extends 'base.html.twig' %}

{% block title %}Liste de Familles{% endblock %}

{% block body %}
    <section class="container px-4">
        <h1>Vous êtes dans la famille {{app.user.family.name}}</h1>
        <ul class="list-group list-group-flush">
            {% for family in families %}
                <div class="card mb-1">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h4 class="mb-1">{{ family.name }}</h4>
                            <h4 class="mb-1">Nombre de membre : {{ family.Members | length }}</h4>
                            <div>
                                <a href="{{ path('app_joinfamily_join', {id: family.id}) }}" class="btn btn-secondary">Rejoindre</a>
                                <form>
                                    <input type="password"></input>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}