{% extends 'base.html.twig' %}

{% block title %}Liste de Familles{% endblock %}

{% block body %}
    <section class="container px-4">
        <h1>Vous êtes dans la famille {{app.user.family.name}}</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}