{% extends 'base.html.twig' %}

{% block title %}Liste des dépenses par catégorie sur l'année{% endblock %}

{% block body %}
    <section>
        {{ year }}
        {{ idCategory }}
    </section>
{% endblock %}
