{% extends 'base.html.twig' %}

{% block title %}Liste des dépenses{% endblock %}

{% block body %}
    <section class="container px-4">
        <h1>Mes dépenses : Somme {{ serviceDepense.CalculateAmoutArray(depenses) }}</h1>
        <a href="{{ path('app_depense_new') }}" class="btn btn-primary">Ajouter</a>
        <ul class="list-group list-group-flush">
            {% for depense in depenses %}
                {{ include('partials/_form-amount.hmtl.twig', {depense: depense, edit:true}, false) }}                
            {% else %}
                <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>

        <h1>Les dépenses de ma famille</h1>
        <ul class="list-group list-group-flush">
            {% for depenseFamilyByMember in depensesFamily %}
                {% if (depenseFamilyByMember.CreatedBy != app.user) %}
                    {{ include('partials/_form-amount.hmtl.twig', {depense: depenseFamilyByMember , edit:false}, false) }}  
                {% endif %}

            {% else %}
                <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
