{% extends 'base.html.twig' %}

{% block title %}Hello ChartDepenseController!{% endblock %}

{% block body %}
    <section class="container px-4">
        {{ component('depense_progressbar_page', {
            startDate: startDate,
            type: 'user',
            }) }}
    </section>
    {% if is_granted('hasNoFamily') == false %}
        <section class="container px-4">
            {{ component('depense_progressbar_page', {
                startDate: startDate,
                type: 'family',
                }) }}
        </section>  
    {% endif %}  
{% endblock %}
