{% extends 'base.html.twig' %}

{% block title %}Hello ChartDepenseController!{% endblock %}

{% block body %}
    <section class="container px-4">
        {{ component('depense_progressbar_page', {
            startDate: startDate,
            }) }}
    </section>
    <section class="container px-4">
        {{ component('depense_progressbar_page', {
            startDate: startDate,
            }) }}
    </section>    
{% endblock %}
