{% extends 'base.html.twig' %}

{% block body_id 'depense_search' %}

{% block body %}
    {#
        Render a component by passing its name as first argument
        See https://symfony.com/bundles/ux-twig-component/current/index.html
    #}
    <section class="container px-4">
        {{ component('depense_search', {
            startDate: startDate,
            endDate: endDate
        }) }}
    </section>
{% endblock %}
